html, body {
	min-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FDF27C;
	color: #455D4D;
	
}

h2 {
	color: #455D4D;
}

#playGround{
	display: grid;			
	margin-top: 30px;
}

.cell {
	width: 50px;
	height: 50px;	
	border: 2px solid #A54044;	
}

#attackPlayer2, #attackPlayer1{
	background-color: #F8A724;
}

#names {
	margin-top: 50px;
	text-align: center;
	
}

#defendButton {	
	width: 75%;
	margin: 20px;
}

#attackButton
{
	margin: 20px;
	width: 75%;
}

input {
	margin-top: 50px;
}

#hello {
	border-bottom: 2px solid #F8A724;
}

#specialCells {
	border-left: 2px solid #F8A724;
}

.blue{
color:blue;
}

.red{
color:red;
}

ul {
	list-style: none;
}


img {
	border: 1px solid #A54044;
}


.logoPlayer1 {
	background:url(png/001-military.png) no-repeat center center;	
	width: 80px;
	height: 80px;
	margin: auto auto;
}

.logoPlayer2 {
	background:url(png/002-military-1.png) no-repeat center center;	
	width: 80px;
	height: 80px;
	margin: auto auto;
}

/* Cells content
==========================*/
.cellHindrance {		
	background:url(png/tent.png);	
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 50px;
	height: 50px;
}

.cellPlayer1 {
	background:url(png/001-military.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellPlayer2 {
	background:url(png/002-military-1.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellCanMove {	
	background:url(png/circular-target.png) no-repeat center center;	
	width: 50px;
	height: 50px;
	border-radius: 15px;
}

.cellWeapon2 {
	background:url(png/001-handgun.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon3 {
	background:url(png/002-rifle.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon1 {
	background:url(png/004-knife.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon4 {
	background:url(png/002-grenade.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellMedicine {
	background:url(png/003-aid.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellHelicopter {
	background:url(png/001-helicopter.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

