html, body {
	min-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
}

#playGround{
	display: grid;
			
	margin-top: 50px;
}

.cell {
	width: 50px;
	height: 50px;	
	border: 2px solid black;	
}

#names {
	margin-top: 50px;
	text-align: center;
	
}

#defendButton {
	margin-top: 30px;
}

#attackButton
{
	margin-top: 20px;
	max-width: 183px;
}

input {
	margin-top: 50px;
}

.blue{
color:blue;
}

.red{
color:red;
}

ul {
	list-style: none;
}



.logoPlayer1 {
	background:url(png/001-military.png) no-repeat center center;	
	width: 80px;
	height: 80px;
	margin: auto auto;
}

.logoPlayer2 {
	background:url(png/002-military-1.png) no-repeat center center;	
	width: 80px;
	height: 80px;
	margin: auto auto;
}

/* Cells content
==========================*/
.cellHindrance {		
	background:url(png/tent.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellPlayer1 {
	background:url(png/001-military.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellPlayer2 {
	background:url(png/002-military-1.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellCanMove {	
	background:url(png/circular-target.png) no-repeat center center;	
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.cellWeapon2 {
	background:url(png/001-handgun.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon3 {
	background:url(png/002-rifle.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon1 {
	background:url(png/004-knife.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellWeapon4 {
	background:url(png/002-grenade.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellMedicine {
	background:url(png/003-aid.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

.cellHelicopter {
	background:url(png/001-helicopter.png) no-repeat center center;	
	width: 50px;
	height: 50px;
}

